# ignore the Setting Folder
.settings/

# ignore the build output folder
Debug/

# ignore the CubeMX code generation sub folder. 
# The .ioc project file is archived in the repo root
CubeMX/

# ignore worksheet lock files
.~lock.*
